*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Calibri","Microsoft YaHei","微软雅黑";
    /*padding-top: 80px;*/
    background-color: #000000;
    -webkit-overflow-scrolling:touch;
}


/*navigation*/

.attr-nav{
    width: 140px;
    height: 80px;
    background: #7ED321;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    text-align: center;

}

/*div内字体矫正*/
.attr-nav span{
    display:inline-block;
    font-size: 20px;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
}

.navigation-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px;
}

.navigation-link:before {
    left: 0;
}

.navigation-link:hover:before {
    width: 100%;
}

.navigation-link:before {
    -webkit-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

header ul {
    font-size: 18px;
}

/*banner*/
#banner{
    height: 980px;
}
.banner-bg{
    background-image:url("../image/banner-bg.png");
    background-repeat: no-repeat;
    background-position-x: center;

}

.banner-triangle{
    height: 980px;
    background-image:url("../image/banner-triangle-bg.png");
    background-repeat: no-repeat;
    background-position-x: center;
}



.banner-content{
    text-align: center;
}

.banner-content img#logo{
    margin-top: 180px;
}
.banner-content h1{
    display: inline-block;
    font-size: 54px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -20px;
}
.banner-content img#about-cobrand{
    margin-top: 25px;
}


/*wrapper*/
.universal-bg{
    background-image: url(../image/repeat-bg.png);
    background-repeat: repeat-y;
    background-position-x: center;
    background-position-y: 80px;

}

/*about*/
#about{
    height: 1086px;
    padding-top: 80px;
    margin-top: -80px;
}
.about-triangle-bg{
    height: 1086px;
    background-image: url(../image/about-triangle-bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
}

.about-bg{
    background-image: url(../image/repeat-bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 80px;
}

#about h2{
    display: inline-block;
    font-size: 45px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:100;
}
#about p{
    font-size:16px;
    color: #a9a9a9;
    margin: 20px 0 ;
    font-weight:100;
}



#about h3{
    font-size:28px;
    color: #FAFAFA;
    margin-top: -10px;
    font-weight:100;

}

.div-triangle{
    display: inline-block;
    padding-left: 24px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 30px solid #81C53C;
    border-bottom: 15px solid transparent;
}




/*div.about-schedule{*/
    /*!*锚点问题 需要加padding-top*!   */
    /*margin-top:1200px;*/
    /*padding-top:70px;*/
    /*position: absolute;*/
    /*width: 1170px;*/
/*}*/

/*div.about-schedule button{*/
    /*border-top:none;*/
    /*border-left:none;*/
    /*border-right:none;*/
    /*border-bottom:1px solid #00E3DF;*/
    /*background: none;*/
    /*color:#00E3DF;*/
    /*float: right;*/
    /*margin-right: 39px;*/
    /*margin-top: 20px;*/
/*}*/

/*div.about-schedule img{*/
    /*margin-left: 41px;*/
/*}*/

/*detail*/
#detail{
    padding-top: 80px;
    margin-top: -320px;
}
#detail h2{
    display: inline-block;
    font-size: 45px;
    font-weight:400;
    margin-bottom:20px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#detail h3{
    font-size:28px;
    color: #FAFAFA;
    margin-top: -10px;
    font-weight:100;

}

#detail p#approach{
    margin-top: 50px ;
    font-size:25px;
    color: #a9a9a9;
}


/*tab*/


.tabs li {
    position: relative;
    text-align: center;
    /*border-top:1px solid transparent;*/
    /*border-left:1px solid #E5E5E5;*/
    /*border-right:1px solid #E5E5E5;*/
    border-bottom: 2px solid transparent;
    display: inline-block;
    background:transparent;
    margin: 10px;
    z-index: 1;
}
.tabs li::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 70%;
    height: 2px;

    background-color: #3AC2D2;
}
.tabs a {
    position: relative;
    z-index: 2;
    color: #3AC2D2;
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 14px 24px;
    text-decoration: none;
}
.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 100%;
    margin: auto;

    transform: skewX(30deg);

    background-color: #7ED321;
}

.active {
    background: #7ED321;
}
.active::after {
    display: none;
}
.active a {
    color: #000;
}



/*tab案例*/
#challenge .left{
    font-size: 14px;
    color: #a9a9a9;
    margin-top:60px;
}

#challenge .right{
    font-size: 14px;
    /*padding-top: 2px;*/
    color:#a9a9a9;
    margin-top:60px;
}

#challenge .left-first{
    padding-top: 30px;

}

#challenge span{
    color:#7ED321;
}

#demoDay .left{
    font-size: 14px;
    color: #a9a9a9;
    margin-top:60px;
}

#demoDay .right{
    font-size: 14px;
    /*padding-top: 2px;*/
    color:#a9a9a9;
    margin-top:60px;
}

#demoDay span{
    color: #7ED321;
}

#enroll .enroll-ticket{
    background-image: url(../image/enroll-bg.png);
    background-repeat: no-repeat;
    margin-top: 58px;
    height:208px;
}

#enroll .ticket{
    padding-left: 142px;
    padding-top: 38px;
}
#enroll p.content{
    font-size:20px;
    padding-left: 142px;
    color: #a9a9a9;
}
#enroll p.notice{
    font-size: 18px;
    padding-left: 142px;
    color: #727272;
}

#schedule {
    margin-top: 138px;
    padding-top: 80px;
    margin-top: 30px;
}
#schedule h2{
    display: inline-block;
    font-size: 45px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:100;
}

#schedule h3{
    font-size:28px;
    color: #a9a9a9;
    margin-top: -10px;
    font-weight:100;

}

#schedule img.right{
    padding-top:60px;
}

#schedule-hover{
    padding-left: 40px;
    display: block;
    border: none;
    background:none;
    color: #45CCDD;
    outline: none;
    font-size: 18px;
}


/*奖项设置*/
#prize{
    margin-top: 86px;
    padding-top: 80px;
    margin-top: -80px;
}

#prize h2{
    display: inline-block;
    font-size: 45px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:100;
}

#prize h3{
    font-size:28px;
    color: #ffffff;
    margin-top: -10px;
    font-weight:100;

}

#prize li{
    background-repeat: no-repeat;
    list-style: none;
    height:184px;
    margin-top: 41px;
    background-position-y:center;
    padding-left: 180px;


}
#prize p{
    font-size:18px;
    color: #a9a9a9;
}
#prize .prize-rank{
    font-size:24px;
    color:#7ED321;

}
#prize .prize-1{
    background-image:url("../image/prize-1.png");

}
#prize .prize-2{
    background-image:url("../image/prize-2.png");

}
#prize .prize-3{
    background-image:url("../image/prize-3.png");

}
#prize .prize-potentional{
    background-image:url("../image/prize-potentional.png");

}
#prize .prize-demo{
    background-image:url("../image/prize-demo.png");

}
#prize .offer{
    background-image:url("../image/prize-offer.png");

}

#prize .prize-detail{
    padding-top: 20px;
}

/*jury*/
#jury{
    padding-top: 80px;
    margin-top: 88px;
}
#jury h2{
    display: inline-block;
    font-size: 45px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:100;
}

#jury h3{
    font-size:28px;
    color: #FAFAFA;
    margin-top: -10px;
    font-weight:100;

}

#jury .jury-div{
    background-repeat: no-repeat;
    background-position-x:center;
    height:330px;
    width: 290px;
}

#jury .jury-odd{
    margin-top: 40px;
}

#jury .jury-even{
    margin-top: 80px;
}

#jury .jury-longyu{
    background-image: url(../image/jury-longyu.png);
}

#jury .jury-zhangpeng{
    background-image: url(../image/jury-zhangpeng.png);
}
#jury .jury-lizhifei{
    background-image: url(../image/jury-lizhifei.png);
}
#jury .jury-jixinhua{
    background-image: url(../image/jury-jixinhua.png);
}

#jury .jury-div .name{
    font-size: 28px;
    color: #ffffff;
    padding-left: 20px
}

#jury .jury-div .detail{
    font-size:14px;
    color: #ffffff;
    padding-left: 20px;
    margin-top:-5px;
}

/*founders*/
#founders {
    padding-top: 80px;
    margin-top:20px;
}
#founders h2{
    display: inline-block;
    font-size: 45px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:100;
}

#founders h3{
    font-size:28px;
    color: #FAFAFA;
    margin-top: -10px;
    font-weight:100;

}
#founders div .left{
    background-image: url("../image/founders-bertelsmann.png");
    margin-top: 120px;
}
#founders div .right{
    background-image: url("../image/founders-geekpark.png");
    margin-top: 120px;
}
#founders div{
    background-repeat: no-repeat;
}
.founders-div{
    color: #a9a9a9;
    padding-top:160px;
    padding-right: 70px;
    font-size: 16px;

}


/*.founders-div{*/
/*margin-top: 120px;*/
/*}*/
#partner{
    padding-top: 80px;
    margin-top: -80px;
}

#partner h2{
    font-size: 36px;
    text-align: center;
    font-weight:400;
    margin:40px 0;
    color: #FAFAFA;
}

/*policy*/
#policy{
    margin-top:80px;
    padding-top: 80px;
    margin-top: -80px;
}
#policy p{
    color: #a9a9a9;
}

#policy h2{
    display: inline-block;
    font-size: 45px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:100;
}

#policy h3{
    font-size:28px;
    color: #FAFAFA;
    margin-top: -10px;
    font-weight:100;

}

#policy .left{
    font-size: 20px;
    margin-top:60px;
}

#policy .right{
    font-size: 14px;
    margin-top:60px;
    padding-top: 2px;
}








/*footer*/

.footer-triangle-bg{
    /*background-image: url(../image/);;*/
}

footer {
    margin-top: 90px;
    margin-bottom: 140px;
}
footer h2 {
    font-size: 20px;
    text-align: center;
    margin:40px auto;
    color: #45CCDD;
}
footer .unit {
    height: 70px;
}
.footer-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text {
    margin: 0 20px;
    color: #ddd;
}

/*底部三角形*/
.bottom-bg{
    background-image: url(../image/bottom-bg.png);
    background-position-x: center;
    background-position-y:bottom;
    background-repeat: no-repeat;
}

/*modal*/
#about-schedule-modal button{
    border: none;
    background: none;

}
#about-schedule-modal .content{text-align: center;
}


#nav-enroll h2{
    font-size: 60px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:100;
}

#nav-enroll h3{
    font-size:40px;
    color: #ffffff;
    margin-top: -10px;
    font-weight:100;

}

#nav-enroll .content{
    background-color: #181B21;
}

#nav-enroll p{
    color: #ffffff;
}






/*锚点问题*/
/*section{*/
    /*padding-top: 80px;*/
    /*margin-top: -80px;*/
/*}*/

/* navbar viewport controll */
.triangle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-top-width: 21px;
    border-top-color: #7ED321;
    transform: translateY(-15px);
    opacity: 0;

    transition: 0.3s all;
}

.tab-active-show .triangle {
    transform: translateY(0);
    opacity: 1;
}