*{
    margin: 0;
    padding: 0;
}

.container{

}
body{
    font-family: "Calibri","Microsoft YaHei","微软雅黑";
    /*padding-top: 80px;*/
    background-color: #000000;
    -webkit-overflow-scrolling:touch
}


/*navigation*/

.attr-nav{
    width: 140px;
    height: 80px;
    background: #7ED321;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    text-align: center;

}

/*div内字体矫正*/
.attr-nav span{
    display:inline-block;
    font-size: 20px;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
}

.navigation-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px;
}

.navigation-link:before {
    left: 0;
}

.navigation-link:hover:before {
    width: 100%;
}

.navigation-link:before {
    -webkit-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

header ul {
    font-size: 18px;
}

/*banner*/
#banner{
    height: 980px;
}
.banner-bg{
    background-image:url("../image/banner-bg.png");
    background-repeat: no-repeat;
    background-position-x: center;
}

.banner-triangle{
    height: 980px;
    background-image:url("../image/banner-triangle-bg.png");
    background-repeat: no-repeat;
    background-position-x: center;
}



.banner-content{
    text-align: center;
}

.banner-content img#logo{
    margin-top: 180px;
}
.banner-content h1{
    font-size: 68px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -20px;
}
.banner-content img#about-cobrand{
    margin-top: 25px;
}


/*wrapper*/
.universal-bg{
    background-image: url(../image/repeat-bg.png);
    background-repeat: repeat-y;
    background-position-x: center;

}

/*about*/
#about{
    height: 1086px;
}
.about-triangle-bg{
    height: 1086px;
    background-image: url(../image/about-triangle-bg.png);;
    background-repeat: no-repeat;
    background-position-x: center;
}

.about-bg{
    background-image: url(../image/repeat-bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
}

#about h2{
    font-size: 60px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:100;
}
#about p{
    font-size:18px;
    color: #ffffff;
    margin: 20px 0 ;
    font-weight:100;
}



#about h3{
    font-size:40px;
    color: #ffffff;
    margin-top: -10px;
    font-weight:100;

}




/*div.about-schedule{*/
    /*!*锚点问题 需要加padding-top*!   */
    /*margin-top:1200px;*/
    /*padding-top:70px;*/
    /*position: absolute;*/
    /*width: 1170px;*/
/*}*/

/*div.about-schedule button{*/
    /*border-top:none;*/
    /*border-left:none;*/
    /*border-right:none;*/
    /*border-bottom:1px solid #00E3DF;*/
    /*background: none;*/
    /*color:#00E3DF;*/
    /*float: right;*/
    /*margin-right: 39px;*/
    /*margin-top: 20px;*/
/*}*/

/*div.about-schedule img{*/
    /*margin-left: 41px;*/
/*}*/

/*detail*/
#detail h2{
    font-size: 60px;
    font-weight:400;
    margin-bottom:20px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#detail h3{
    font-size:40px;
    color: #ffffff;
    margin-top: -10px;
    font-weight:100;

}

#detail p#approach{
    margin-top: 50px ;
    font-size:28px;
    color: #ffffff;
}


/*tab*/


.tabs li {
    text-align: center;
    /*border-top:1px solid transparent;*/
    /*border-left:1px solid #E5E5E5;*/
    /*border-right:1px solid #E5E5E5;*/
    border-bottom: 2px solid #E5E5E5;
    /*margin: 0 0;*/
    display: inline-block;
    background:transparent;
}

.tabs a {
    color: #ccc;
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 14px 24px;
    text-decoration: none;
}

.tabs li:hover {
    color: #cccccc;
    background: transparent;
    border-bottom: 2px solid #7ED321;
}

.tabs li:hover a {
    color: #cccccc;
}

.active {
    background: #7ED321;
    border-bottom: 2px solid #7ED321 !important;
}

.active a {
    color: #7ED321 ;
}


/*tab案例*/
#challenge .left{
    font-size: 14px;
    color: #ffffff;
    margin-top:60px;
}

#challenge .right{
    font-size: 14px;
    /*padding-top: 2px;*/
    color:#ffffff;
    margin-top:60px;
}

#challenge .left-first{
    padding-top: 30px;

}

#challenge span{
    color:#7ED321;
}

#demoDay .left{
    font-size: 14px;
    color: #ffffff;
    margin-top:60px;
}

#demoDay .right{
    font-size: 14px;
    /*padding-top: 2px;*/
    color:#ffffff;
    margin-top:60px;
}

#demoDay span{
    color: #7ED321;
}

#enroll .enroll-prize{
    background-image: url(../image/enroll-bg.png);
    background-repeat: no-repeat;
    margin-top: 58px;
    height:208px;
}

#enroll .ticket{
    padding-left: 142px;
    padding-top: 38px;
}
#enroll p.content{
    font-size:24px;
    padding-left: 142px;
    color: #ffffff;
}
#enroll p.notice{
    font-size: 20px;
    padding-left: 142px;
    color: #727272;
}
/*#demoDay .left{*/
    /*text-align: right;*/
    /*margin-top: 25px;*/
    /*padding-right: 50px;*/
    /*font-size: 20px;*/
/*}*/

/*#demoDay .right{*/
    /*font-size:14px;*/
    /*margin-top: 30px;*/
/*}*/

/*#demoDay .left-first{*/
    /*margin-top: 70px;*/
    /*font-size: 20px;*/
/*}*/

/*#demoDay .right-first img{*/
    /*margin: 20px;*/
/*}*/

/*#enroll .left{*/
    /*margin-top: 25px;*/
    /*text-align: right;*/
    /*font-size: 20px;*/
/*}*/

/*#enroll .right{*/
    /*margin-top: 30px;*/
    /*text-align: left;*/
/*}*/

#policy p{
    color: #ffffff;
}

#policy h2{
    font-size: 60px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:100;
}

#policy h3{
    font-size:40px;
    color: #ffffff;
    margin-top: -10px;
    font-weight:100;

}

#policy .left{
    font-size: 20px;
    margin-top:60px;
}

#policy .right{
    font-size: 14px;
    margin-top:60px;
    padding-top: 2px;
}

#jury h2{
    font-size: 60px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:100;
}

#jury h3{
    font-size:40px;
    color: #ffffff;
    margin-top: -10px;
    font-weight:100;

}

#jury .jury-div{
    background-image: url(../image/jury-bg.png);
    background-repeat: no-repeat;
    background-position-x:center;
}

#prize h2{
    font-size: 60px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:100;
}

#prize h3{
    font-size:40px;
    color: #ffffff;
    margin-top: -10px;
    font-weight:100;

}

#prize li{
    background-repeat: no-repeat;
    list-style: none;
    height:184px;
    margin-top: 41px;
    background-position-y:center;
    padding-left: 180px;


}
#prize p{
    font-size:18px;
    color: #ffffff;
}
#prize .prize-rank{
    font-size:30px;
    color:#7ED321;

}
#prize .prize-1{
    background-image:url("../image/prize-1.png");

}
#prize .prize-2{
    background-image:url("../image/prize-2.png");

}
#prize .prize-3{
    background-image:url("../image/prize-3.png");

}
#prize .prize-potentional{
    background-image:url("../image/prize-potentional.png");

}
#prize .prize-demo{
    background-image:url("../image/prize-demo.png");

}
#prize .offer{
    background-image:url("../image/prize-offer.png");

}

#prize .prize-detail{
    padding-top: 20px;
}

#schedule h2{
    font-size: 60px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:100;
}

#schedule h3{
    font-size:40px;
    color: #ffffff;
    margin-top: -10px;
    font-weight:100;

}

#schedule img.right{
    padding-top:60px;
}

#founders h2{
    font-size: 60px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:100;
}

#founders h3{
    font-size:40px;
    color: #ffffff;
    margin-top: -10px;
    font-weight:100;

}
#founders div .left{
    background-image: url("../image/founders-bertelsmann.png");
    margin-top: 120px;
}
#founders div .right{
    background-image: url("../image/founders-geekpark.png");
    margin-top: 120px;
}
#founders div{
    background-repeat: no-repeat;
}
.founders-div{
    color: #ffffff;
    padding-top:160px;
    padding-right: 70px;
    font-size: 19px;

}


/*.founders-div{*/
    /*margin-top: 120px;*/
/*}*/

#partner h2{
    font-size: 36px;
    text-align: center;
    font-weight:400;
    margin:40px 0;
    color: #ffffff;
}
/*footer*/
.footer-triangle-bg{
    /*background-image: url(../image/);;*/
}

footer h2 {
    font-size: 20px;
    text-align : center;
    margin:40px auto;
    color: #45CCDD;
}


footer .col-sm-4 img{
    margin-bottom:10px;
    height: 65px;
}

footer .footer-text{
    padding-top: 10px;
    margin-bottom: 20px;
}

footer .col-sm-2{
    text-align: center;
}

/*modal*/
#about-schedule-modal button{
    border: none;
    background: none;

}
#about-schedule-modal .content{text-align: center;
}


#nav-enroll h2{
    font-size: 60px;
    background: -webkit-linear-gradient(left,#45CCDD,#53A0FE 50%,#53A0FE 51%,#81C53C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:100;
}

#nav-enroll h3{
    font-size:40px;
    color: #ffffff;
    margin-top: -10px;
    font-weight:100;

}

#nav-enroll .content{
    background-color: #181B21;
}

#nav-enroll p{
    color: #ffffff;
}






/*锚点问题*/
/*section{*/
    /*padding-top: 80px;*/
    /*margin-top: -80px;*/
/*}*/
